---
import FormattedDate from "@/components/primitives/content/FormattedDate.astro";
import placeholder from "@/assets/post-placeholder.png";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Tags from "./Tags.astro";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;

const {
  title,
  slug,
  pubDate,
  cover = placeholder,
  coverAlt = title,
  tags,
} = post.data;
---

<article
  class="group transition-all duration-400 hover:scale-102 list-none hover:bg-zinc-900 rounded-xl"
>
  <a href={"/blog/" + slug}>
    {
      cover && (
        <div
          class="overflow-hidden rounded-xl aspect-5/3 transition duration-400 isolation-isolate"
          transition:name={`${slug}-cover`}
        >
          <Image
            width={480}
            src={cover}
            alt={coverAlt}
            decoding="async"
            loading="lazy"
            format="webp"
            class="scale-105 group-hover:scale-100 transition duration-400 object-cover w-full h-full"
          />
        </div>
      )
    }
    <div class="p-3 md:p-4 space-y-1 md:space-y-2">
      <h4 transition:name={`${slug}-title`}>{title}</h4>
      <Tags tags={tags} />
      <p class="text-sm md:text-lg">
        <FormattedDate date={pubDate} />
      </p>
    </div>
  </a>
</article>
